<?php

    $standard = Mage::getModel('visanet/standard');
    $formFields = $standard->getStandardCheckoutFormFields();

    if (isset($formFields->tid)){
        $dadospedido = "dados-pedido";
        $urlautenticacao = "url-autenticacao";
        $formapagamento = "forma-pagamento";

        $popup = $standard->getConfigData('popup');
        $urlAction = $formFields->$urlautenticacao;
?>
<div class="page-head">
    <h3><?php echo htmlentities($this->__('Your order has been received')); ?>. <?php echo htmlentities($this->__('Thank you for your purchase!')); ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

<p>O n&uacute;mero do seu pedido &eacute; <?php echo $formFields->$dadospedido->numero ?>.<br /></p>

<?php
    } else {
        $urlAction = $standard->getUrlRecibo();
    }
?>
<iframe src="<?php echo $urlAction; ?>" width="100%" height="650px" frameborder="0"></iframe>