<?php
	$standard = Mage::getModel('visanet/standard');
?>

<div class="page-head">
    <h3><?php echo $this->__('Processando Transação ...') ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<p align="center">
	<img src="<?= $standard->getSkinUrl('images/visa.jpg') ?>" />
	<br />	
</p>

<p align="center">
	Aguarde alguns instantes até que a página seja exibida.
</p>