<?php
		$standard = Mage::getModel('visanet/standard');
		$formFields = $standard->getStandardCheckoutFormFields();
		
		$total = $formFields['damount'];			
		$total = number_format($total, 2, '.', '');

		if (!Mage::getModel('wlpayment/wlpayment')->saveReg($formFields['orderid'], $formFields['tid'], $formFields['parcelas'], $total, $formFields['bandeira'])) {
			echo 'Falha ao gravar transa&ccedil;$atilde;o.';
		}
		
		$urlAction = $standard->getVisanetUrl();
		//$urlAction = 'http://librepag.weblibre.com.br/visanet/visanet.php';
		//$urlAction = 'http://192.168.0.100/librepag/visanet/visanet.php';
		
		$popup = $standard->getConfigData('popup');
		//$popup = true;
?>

<script language="JavaScript" type="text/javascript">
	var retorno;
	var mpg_popup;

	window.name="loja";

	function fabrewin() {
		mpg_popup = window.open("","mpg_popup","toolbar=0,location=0,directories=0,status=1,menubar=0,scrollbars=1,resizable=0,screenX=0,screenY=0,left=0,top=0,width=800,height=600");
		window.location = "<?= $standard->getUrlRedirectAguarde() ?>";
		//window.location = "https://cbp.3dsolution.com.br/cbp/retornoEC.asp";

		return true;
	}
</script>

<div class="page-head">
    <h3><?php echo $this->__('Your order has been received') ?>. <?php echo $this->__('Thank you for your purchase!') ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<p align="center"><strong>Clique no bot&atilde;o abaixo para efetuar o pagamento.</strong></p>

<form id="visanet_standard_checkout" name="visanet_standard_checkout" action="<?= $urlAction ?>" method="post" <?php if ($popup == true) echo 'target="mpg_popup" onsubmit="javascript:fabrewin()"' ?> >
	<p align="center">
		<?php foreach ($formFields as $field=>$value) { ?>
			<input type="hidden" name="<?= $field ?>" value="<?= $value ?>" />
		<?php } ?>

		<input type="image" src="<?= $standard->getSkinUrl('images/visa.jpg') ?>" /> <br />
		<input type="submit" value="Clique aqui para entrar na p&aacute;gina da Visa" />
	</p>
</form>