<?php
		$standard = Mage::getModel('visanet/standard');
		$formFields = $standard->getStandardCheckoutFormFields();
		
		$total = $formFields['damount'];			
		$total = number_format($total, 2, '.', '');

		if (!Mage::getModel('wlpayment/wlpayment')->saveReg($formFields['orderid'], $formFields['tid'], $formFields['parcelas'], $total, $formFields['bandeira'])) {
			echo 'Falha ao gravar transa&ccedil;$atilde;o.';
		}
		
		$urlAction = $standard->getVisanetUrl();
		//$urlAction = 'http://librepag.weblibre.com.br/visanet/visanet.php';
		//$urlAction = 'http://192.168.0.100/librepag/visanet/visanet.php';
		
		$popup = $standard->getConfigData('popup');
		//$popup = true;
?>

<div class="page-head">
    <h3><?php echo $this->__('Your order has been received') ?>. <?php echo $this->__('Thank you for your purchase!') ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<p>O número do seu pedido é <?= $formFields['orderid'] ?>.<br /></p>

<iframe id="visaframe" name="visaframe" src="<?= Mage::getUrl('Visanet/Standard/Frame') ?>" width="100%" height="500" frameborder="0" ></iframe>

<!--teste para que a versão sem popup funcione -->
<script language="JavaScript" type="text/javascript">
	document.getElementById('visaframe').parent = window;
	document.getElementById('visaframe').parent.opener = window;
	document.getElementById('visaframe').opener = window;
</script>