<?php
	$standard = Mage::getModel('visanet/standard');
?>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#ffffff" text="#000000" onload="document.forms[0].submit();">
	<form name="frmRedireciona" method="post" action="https://cbp.3dsolution.com.br/cbp/retornoEC.asp">
		<input type="hidden" name="url" value="<?= $standard->getUrlAguarde() ?>">
	</form>
</body>
</html>