<?php
#echo $this->getChildHtml('barraTopo');
?>
<div class="barra">
    <div class="botaoDepartamentos">
        <img class="" alt="Botão todos os departamentos" src="<?php echo $this->getSkinUrl('images/template/bt_todos-os-departamentos.png');?>"/>
    </div><!--FIM botaoDepartamentos-->
    <div class="areaPesquisas">
        <?php echo $this->getChildHtml('barraTopo');?>
    </div>
    <div class="botaoCompraFacil">
        <h3>Compra Fácil</h3>
        <input type="image" src="<?php echo $this->getSkinUrl('images/template/bt_compra-facil.png');?>" name=""/>
    </div><!--FIM botaoCompraFacil-->
    <?php echo $this->getChildHtml('carrinhoTopo'); ?>
</div>
<script type="text/javascript">
var flag_cf = $j('#flag-compra-facil').val();

$j('.barra .botaoCompraFacil input').click(function(){
    flag_cf = (flag_cf==0) ? 1 : 0;
    $j('#flag-compra-facil').val(flag_cf); 
    $j(".barra .area-barra-pesquisas").stop().fadeToggle("fast");
});

$j('.barra .botaoDepartamentos img').click(function(){
    $j("#listagem-depto").toggle(0);
});
<?php if(isset($_GET['cf'])):?>
    $j('.barra .botaoCompraFacil input').click();
<?php endif;?>
</script>