<?php
/*
 * lateral contendo os departamentos e subcategorias
 */

$id_departamentos = 3;
$departamentos = Mage::helper('catalog/category')->getListaCategorias($id_departamentos,Mage_Catalog_Helper_Category::ORDEM_ADMIN,false);
?>
<div class="departamentos" id="listagem-depto">
    <ul class="itemDepartamentos">
        <?php foreach($departamentos as $categoria):
            //$categoria = $model->load($id);
            #$subcategs = $categoria->getChildren();
            ?>
        <li class="itens">
            <a href="<?php echo $categoria->getUrl();?>">
                <?php echo $categoria->getName();?>
            </a>
        </li>
        <?php endforeach;?>
    </ul><!--FIM item-->
</div>
<script type="text/javascript">
$j('#listagem-depto .itens').hover(function(){
    $j(this).addClass('ativo');
    $j(this).find('ul').show();
},function(){
    $j(this).removeClass('ativo');
    $j(this).find('ul').hide();
});
</script>
