<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * JN2
 */
$blocos = $this->getLayout()->createBlock('cms/block');
?>
<div class="backgroundFooter">
    <?php echo $this->getChildHtml('bottomContainer') ?>
    <div class="footer">
        <div class="menuRodape">
            <?php echo $blocos->setBlockId('links_paginas_rodape ')->toHtml();?>
        </div><!--FIM menuRodape-->
        <div class="redes">
            <?php echo $blocos->setBlockId('links_redes_sociais')->toHtml()?>
        </div><!--FIM redes-->
        <br> <br>
        <div class="bandeirasCartoes">
            <?php echo $blocos->setBlockId('bandeiras_cartoes')->toHtml()?>
        </div><!--FIM bandeirasCartoes-->
        <div class="creditos">
            <p><?php echo $this->getCopyright() ?></p>
            <a target="_blank" href="http://www.jn2.com.br"> <img alt="jn2" src="<?php echo $this->getSkinUrl('images/template/ico_jn2.png');?>"></a>
        </div><!--FIM creditos-->
    </div><!-- FIM .footer -->
</div>
