<?php
/**
 * Magento
 * alterado LSC
 *
 * @category    design
 * @package     default_modern
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<div class="header">
    <a href="<?php echo $this->getUrl('') ?>" class="left"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
    <div class="status">
        <img src="<?php echo $this->getSkinUrl('images/template/ico_usuario.png');?>" alt="usuario" class="icoUsuario"/>
        <span>
            <?php echo $this->getChildHtml('topLinks') ?>
        </span>
    </div><!--FIM status-->  
    <?php #echo $this->getChildHtml('topMenu') ?>
    <div class="menu">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('links_topo_televendas')->toHtml()?>
        <div class= "televendas">
            TELEVENDAS  <span class="numeroTelevendas"><?php echo Mage::getStoreConfig('general/store_information/phone');?></span>
        </div><!--FIM televendas--> 
    </div><!--FIM menu-->	
    <br  class="clearfloat"/>
    <?php echo $this->getChildHtml('barraPesquisa') ?><!--FIM barra-->
    <?php echo $this->getChildHtml('topContainer'); ?>

</div><!-- end .header -->