<?php
/*
 * lateral contendo os departamentos e subcategorias
 */
$model = Mage::getModel('catalog/category');
$categoria = $model->load(4);//id da categoria Listas Prontas
$nomeCatRoot = $categoria->getName();
$departamentos = explode(',',$categoria->getChildren());
?>
<div class="menuListasProntas">
    <h3>Categorias</h3>
    <h4><?php echo $nomeCatRoot;?></h4>
    <ul>
        <?php foreach($departamentos as $id):
            $model = Mage::getModel('catalog/category');
            $categoria = $model->load($id);
            ?>
        <li>
            <a href="<?php echo $categoria->getUrl();?>">
                <?php echo $categoria->getName();?>
            </a>
        </li>
        <?php endforeach;?>
    </ul>
</div>
<script type="text/javascript">

</script>