<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 * Galeria de imagens do produto
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<div class="product-image"><?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(250,300).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    
?></div>
<?php if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
    <?php foreach ($this->getGalleryImages() as $_image):
            $imgG = $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(250,300);
            ?>
            <a href="javascript: void(0)" onclick="setZoomImg('<?php echo $imgG ?>');" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>">
                <?php $imgMini = $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(80);?>
                <img src="<?php echo $imgMini; ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
            </a>
    <?php endforeach; ?>
</div>
<?php endif; ?>