<?php
/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
//Banner para Esquerda 220x220

?>
<?php if ($this->hasValidGroup()): ?>
    <?php $banners = $this->getBanners(); ?>
    <?php if (count($banners) > 0): ?>
        <div id="<?php echo $this->getWrapperId() ?>" class="publicidade">
            <?php $it = 0;
            foreach ($banners as $it => $banner): 
                $imagem = $banner->getImageUrl();
                Mage::helper('media')->resizeImage($imagem,220,220);
                ?>
                <?php if ($banner->hasUrl()): ?>
                    <a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml($banner->getTitle()) ?>">
                    <?php endif; ?>
                    <img src="<?php echo $imagem.'?'.date('Ymdhi'); ?>" alt="<?php echo $this->escapeHtml($banner->getAltText()) ?>" />
                    <?php if ($banner->hasUrl()): ?>
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    <?php endif; /**/ ?>
<?php endif; ?>
