<?php
/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * alterado por JN2
 */
//Banner da Home 700 x 210
$group = $this->getGroup();
$duracao = (int)$group->getCarouselDuration();
?>
<br/>
<?php if ($this->hasValidGroup()): ?>
    <?php $banners = $this->getBanners(); ?>
    <?php if (count($banners) > 0): ?>
        <div class="banner">
            <div id="<?php echo $this->getWrapperId() ?>">
            <?php $it = 0;
            foreach ($banners as $it => $banner): 
                $imagem = $banner->getImageUrl();
                Mage::helper('media')->resizeImage($imagem,700,700);
                ?>
                <div class="area-imagem-b">
                <?php if ($banner->hasUrl()): ?>
                <a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml($banner->getTitle()) ?>">
                    <?php endif; ?>
                    <img src="<?php echo $imagem.'?'.date('Ymdhi'); ?>" alt="<?php echo $this->escapeHtml($banner->getAltText()) ?>" />
                    <?php if ($banner->hasUrl()): ?>
                </a>
                <?php endif; ?>
                </div>
            <?php endforeach; ?>
            </div>
            <div class="paginacaoBanner"></div>
        </div>
        <script type="text/javascript">
            $j("#<?php echo $this->getWrapperId() ?>").cycle({ 
                fx:     '<?php echo $this->getGroup()->getCarouselEffect() ?>', 
                speed:  <?php echo $group->getCarouselFrequency() ?>, 
                timeout: <?php echo $duracao*1000?>, 
                pager:  '.banner .paginacaoBanner' 
            });
        </script>
    <?php endif; /**/ ?>
<?php endif; ?>