<?php
/**
 * Magento
 * JN2
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>

<div class="cart">
    <div class="page-title title-buttons">
        <div class="tituloPagina">
            <h2><?php echo $this->__('Shopping Cart') ?></h2>
        </div>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
        <table border="0" width="98%" id="shopping-cart-table" class="data-table cart-table tabelaCarrinho">
            <tbody>
                <tr class="footerTabela">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Nome do Produto</td>
                    <td>Preço Unit</td>
                    <td>Qtd</td>
                    <td>Subtotal</td>
                </tr>
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach ?>
            </tbody>
            <tfoot>
                <?php echo $this->getChildHtml('totals'); ?>
          </tfoot>
        </table>
        <table border="0" width="98%" class="tabelaCarrinho">
            <tbody>
                <tr>
                    <td class="btContinuarComprando">
                        <?php if($this->getContinueShoppingUrl()): ?>
                        <a href="<?php echo $this->getContinueShoppingUrl() ?>">
                            <img src="<?php echo $this->getSkinUrl('images/template/ico_seta-voltar.png');?>"><span>Continuar compando</span>
                        </a>
                        <?php endif; ?>
                    </td>
                    <td class="btFinalizarCompra">
                        <button type="submit" class="button btn-update">Atualizar</button>
                        <a href="<?php echo $this->getUrl('checkout/onepage/')?>">
                            <img src="<?php echo $this->getSkinUrl('images/check-out/bt_finalizarCompra.png');?>"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('shopping-cart-table')</script>
    </form>
</div>
