<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 */
$paginaCadastro = Mage::getModel('cms/page')->load('cms-texto-cadastro', 'identifier');
?>
<div class="col2-set ">
    <?php echo $this->getChildHtml('login_before') ?>
    <?php if ($this->getQuote()->isAllowedGuestCheckout()): ?>
        <?php echo $paginaCadastro->getContent(); ?>
    <?php else: ?>
        <input type="hidden" name="checkout_method" id="login:register" value="register" checked="checked" />
    <?php endif; ?>
</div>
<div class="col-2 formulariosCadastro area-login-checkout">
    <strong><?php echo $this->__('Login') ?></strong>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form id="login-form" action="<?php echo $this->getPostAction() ?>" method="post">
        <fieldset>
            <p>Já possui uma conta?</p>
            <p><?php echo $this->__('Please log in below:') ?></p>
            <ul class="form-list">
                <li>
                    <label for="login-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry validate-email inputComprar" id="login-email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" />
                    </div>
                </li>
                <li>
                    <label for="login-password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                    <div class="input-box">
                        <input type="password" class="input-text required-entry inputComprar" id="login-password" name="login[password]" />
                    </div>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="f-left"><?php echo $this->__('Forgot your password?') ?></a>
                </li>
                <li>
                    <button type="submit" class="button botaoGeral" onclick="onepageLogin(this)"><span><span><?php echo $this->__('Login') ?></span></span></button>
                </li>
            </ul>
            <div class="a-right botoesContinuar">
                <p class="required">&nbsp;</p>
                <button type="button" class="button botaoGeral" onclick="checkout.setMethod();"><span><span><?php echo ($this->getQuote()->isAllowedGuestCheckout() ? $this->__('Continue') : $this->__('Register')) ?></span></span></button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var loginForm = new VarienForm('login-form', true);
    $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    function onepageLogin(button)
    {
        if(loginForm.validator && loginForm.validator.validate()){
            button.disabled = true;
            loginForm.submit();
        }
    }
    //]]>
</script>
