<?php
/**
 * Magento
 *
JN2 Pagamentos Simples por maquineta
 */
?>
<?php if ($this->getMethod()->getObs()): ?>
    <ul class="form-list simplespgto-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
        <?php if ($this->getMethod()->getObs()): ?>
        <li>
            <label><?php echo $this->__('Obs.:') ?></label>
            <?php echo $this->getMethod()->getObs() ?>
        </li>
        <?php endif; ?>
    </ul>
<?php endif; ?>
