<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * alterado JN2
 */

?>
<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail" onsubmit="return false;">
<div class="news">
    <h3>News</h3>
    <br/><br/>
    <p>Digite seu e-mail</p>
    <p>para receber nossas ofertas</p>
    <br/><input type="hidden" name="tipo" value="0" id="news-tipo" />
    <input type="text" name="email" id="newsletter" title="<?php echo $this->__('Seu e-mail') ?>" class="input-text required-entry validate-email inputNews" />
    <br/>
    <div class="newsBotoes">
        <input type="image" src="<?php echo $this->getSkinUrl('images/template/bt_news-remover.png');?>" name="Remover" onclick="trocaOptNewsletter(1)"/>
        <input type="image" src="<?php echo $this->getSkinUrl('images/template/bt_news-cadastrar.png');?>" name="Cadastrar" onclick="trocaOptNewsletter(0)"/>
    </div><!--FIM newsBotoes-->
</div>
</form>
<script type="text/javascript">
    //<![CDATA[
    new Varien.searchForm('newsletter-validate-detail', 'newsletter', '<?php echo $this->helper('newsletter')->__('Seu e-mail') ?>');
    function trocaOptNewsletter(valor){
        $('news-tipo').setValue(valor);
        enviarNews($('newsletter-validate-detail'));
    }
    function enviarNews(form){
        if($('newsletter').value != '' && $('newsletter').value != '<?php echo $this->helper('newsletter')->__('Seu e-mail') ?>'){
            new Ajax.Request(
            '<?php echo $this->getUrl('newsletter/subscriber/new') ?>',
            {
                asynchronous:true,
                evalScripts:false,
                onComplete:function(request, json){
                    //Element.hide('newsletter-form');
                    //Element.show('feedback');
                    $('newsletter').setValue('Seu e-mail');
                    alert(request.responseText);
                },
                onLoading:function(request, json){
                    $('newsletter').setValue('Enviando...');
                },
                parameters:Form.serialize(form)
            });
        }
        
    }
    //]]>
</script>
