<?php
/*
 * Bloco de produtos da categoria Destaques -> id = 15
 * 
 */
$categoria = Mage::getModel('catalog/category')->load(15);
$produtos = $categoria->getProductCollection()
        ->addAttributeToSelect('*')
        ->addAttributeToSelect('status', 1)
        ->addAttributeToSelect('visibility', 4)/* visivel pra busca e catalogo */
        ->setOrder('created_at', 'DESC')
        ->setOrder('name', 'ASC');
$n_prod = $produtos->count();
$_helper = $this->helper('catalog/output');
if ($n_prod > 0):
?>
<div class="destaques">
    <div class="tituloPagina">
        <h2><?php echo $categoria->getName();?></h2>
    </div><!--FIM tituloDestaques-->

    <ul class="listaDestaques">
        <?php foreach($produtos as $_product):?>
        <li id="prod-<?php echo $_product->getId()?>">
            <div class="produtoDestaques">
                <p class="imgProdutoDestaques">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(120); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                </p>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                <div class="precoDestaques">
                    <?php echo $this->getPriceHtml($_product, true) ?>
                </div>
                <?php $link = $this->getAddToCartUrl($_product);?>
                <div class="comprar">
                <?php if($_product->isSaleable()): ?>
                    <p class="quantProduto">Quant. <input type="text" class="inputComprar qty" onchange="atualizarQty(this,'prod-<?php echo $_product->getId()?>','<?php echo $link?>')" value="1"/></p>
                    <img class="btComprar adicionar-carrinho" alt="Comprar" src="<?php echo $this->getSkinUrl('images/destaques/bt_comprar.png');?>" onclick="setLocation('<?php echo $link?>qty/1')"/>
                <?php else: ?>
                    <img src="<?php echo $this->getSkinUrl('images/destaques/img_produto-indisponivel.png');?>" alt="esgotado" />
                <?php endif;?>
                </div><!--FIM comprar-->
            </div><!--FIM produtoDestaques-->
        </li>
        <?php endforeach;?>
    </ul><!--FIM listaDestaques-->
</div>
<?php endif; ?>