<script type="text/javascript">
Validation.addAllThese([
    ['validate-tendigits', 'Please use 10 digit numbers only in this field. Please avoid spaces or other characters such as dots or commas.', function(v) {
        return Validation.get('IsEmpty').test(v) ||  /^(\d){10}$/.test(v);
    }],
    
    ['validate-aaa-0000', 'Please use the value in the following format: AAA-0000', function(v) {
        return Validation.get('IsEmpty').test(v) ||  /^([A-Za-z]){3}-(\d){4}$/.test(v);
    }],
    
    ['validate-checkboxgroup-required', 'Please select an option.', function(v, elm) {
        id = elm.id.substr(0, elm.id.search('___'));
        checkboxGroupChecked = false;
        $$('input[id^=' + id + ']').each(function(checkbox){
            if (checkbox.checked)
            {
                checkboxGroupChecked = true;
            }
        });
        return checkboxGroupChecked;
    }],
]);
</script>
<?php if ($this->isShowHeader()): ?>

    <h2 class="legend"><?php echo $this->__('Informações Gerais') ?></h2>
<?php endif; ?>
    <div class="fields" id="info-geral-fields">
        <?php foreach ($this->getFormElements() as $element): ?>
        <div class="field">
            <div class="input-box">
            <?php echo $element->toHtml(); ?>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
        <!-- CUSTOM IMAGE AT THE RIGHT: <div style="float: right;"><img src="PATH HERE" /></div>
        <div style="clear: both;"></div>-->
<?php if ($this->isShowHeader()): ?>

<?php endif; ?>
