<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 */
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title tituloPagina">
    <h2>Fale Conosco</h2>
</div>
<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post" class="contato">
    <div class="fieldset contato">
        <div class="field">
            <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>
            <div class="input-box">
                <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry inputComprar" type="text" />
            </div>
        </div>
        <div class="field">
            <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
            <div class="input-box">
                <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email inputComprar" type="text" />
            </div>
        </div>
        <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
        <div class="input-box">
            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text inputComprar" type="text" />
        </div>
        <label for="comment" class="required"><em>*</em>Mensagem</label>
        <div class="input-box">
            <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text inputComprar" cols="5" rows="3"></textarea>
        </div>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
        <input type="image" src="<?php echo $this->getSkinUrl('images/template/bt_enviar.png');?>" class="btEnviarContato"/>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
