<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *alterado LSC
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * @see Mage_Page_Block_Template_Links
 */
$cliente = Mage::getSingleton('customer/session')->getCustomer();
$nome = $cliente->getFirstname();
if($nome):
?>
<?php $_links = $this->getLinks(); ?>
Olá seja bem vindo(a) <span class="letra-verde"><?php echo $nome;?></span>
<div class="menu menuTopoLogado">
<?php if(count($_links)>0): ?>
<ul class="links"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
    <?php foreach($_links as $_link): ?>
        <?php if ($_link instanceof Mage_Core_Block_Abstract):?>
            <?php echo $_link->toHtml() ?>
        <?php else: ?>
            <li<?php if($_link->getIsFirst()||$_link->getIsLast()): ?> class="<?php if($_link->getIsFirst()): ?>first<?php endif; ?><?php if($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>>
                <?php echo $_link->getBeforeText() ?>
                <a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>>
                    <?php echo $_link->getLabel() ?>
                </a>
                <?php echo $_link->getAfterText() ?>
            </li>
        <?php endif; ?>
        <?php if(!$_link->getIsLast()):?>
            <li> | </li>
        <?php endif; ?>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
</div>
<?php else: ?>
Olá seja bem vindo(a)!<br />
Faça seu <a href="<?php echo $this->getUrl('customer/account/login')?>">login</a> ou <a href="<?php echo $this->getUrl('customer/account/create')?>">cadastre-se.</a>
<script type="text/javascript">
//aproveitando a deixa, vamos travar os clientes não-logados para não adicionar itens no carrinho
$j(document).ready(function(){
    $j('.adicionar-carrinho').each(function(){
        $j(this).attr('onclick',null);
        $j(this).click(function(){
            setLocation('<?php echo $this->getUrl('customer/account/login')?>');
        });
    });
});

</script>
<?php endif; ?>