<?php
/**
 * Magento
 * JN2 listagem
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>

<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg area-conteudo-interno textoVermelho"><?php echo $this->__('Nenhum produto encontrado neste segmento.') ?></p>
<?php else: ?>
<div class="category-products">
    <div class="filtro">
        <?php echo $this->getToolbarHtml() ?>
    </div>
    <?php // List mode - mdo Listagem ?>

    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ul class="products-list lista" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>" id="prod-<?php echo $_product->getId()?>">
            <?php // Product Image ?>
            <div class="imgProdutoLista">
                <p class="imgProdutoDestaques">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(120); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                </p>
            </div>
            <?php // Product description ?>
            <?php 
            //tratamento de produtos agrupados
            $tipo = $_product->getTypeId();
            if($tipo == 'grouped'){
                $associados = $_product->getTypeInstance(true)->getAssociatedProducts($_product);
                $total = 0;
                foreach($associados as $row){
                    $total += (float)$row->getPrice();
                }
            }
            ?>
            <div class="product-shop listaComprar">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h3>
                    <div class="precoDestaques">
                    <?php
                    if($tipo != 'grouped'){
                        echo $this->getPriceHtml($_product, true);
                    }else{
                        ?>
                        <div class="price-box">
                            <div class="minimal-price">
                                <span class="price-label">Total:</span>
                                <div id="product-minimal-price-6" class="price precoDestaques">R$<?php echo number_format($total, 2, ',','.');?></div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                    </div>
                    <div class="comprar">
                    <?php if($_product->isSaleable()): ?>
                        <?php if($tipo != 'grouped'):?>
                        <?php $link = $this->getAddToCartUrl($_product);?>
                        <p class="quantProduto">Quant. <input type="text" class="inputComprar qty" onchange="atualizarQty(this,'prod-<?php echo $_product->getId()?>','<?php echo $link?>')" value="1"/></p>
                        <img class="btComprar adicionar-carrinho" alt="Comprar" src="<?php echo $this->getSkinUrl('images/destaques/bt_comprar.png');?>" onclick="setLocation('<?php echo $link?>qty/1')"/>
                        <?php else:?>
                        <p class="quantProduto" style="color: #000;white-space: normal">Total de itens: <strong><?php echo count($associados);?></strong></p>
                        <img class="btComprar" alt="Comprar" src="<?php echo $this->getSkinUrl('images/destaques/bt_comprar.png');?>" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"/>
                        <?php endif;?>
                    <?php else: ?>
                        <img src="<?php echo $this->getSkinUrl('images/destaques/img_produto-indisponivel.png');?>" alt="esgotado" />
                    <?php endif; ?>
                    </div>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
    
    <div class="paginacao" id="nova-area-paginacao"></div>
    <script type="text/javascript">
        decorateList('products-list', 'none-recursive');
        $j("#nova-area-paginacao").html($j("#conteudo-paginador").html());
        $j("#conteudo-paginador").html('');
    </script>
    <?php else: ?>

    <?php // Grid Mode - Modo Tabela ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(170); ?>" width="170" height="170" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>
</div>
<?php endif; ?>
