<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 * JN2 
 */
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php
$_product = $this->getProduct();
$categoria = Mage::registry('current_category');
$ids = $_product->getCategoryIds();//todas as categorias do produto
if ($categoria == null) {
    //complicou... hora de tentar achar qual é a categoria

    $array_ignore = array('2', '3', '15'); //o produto pode ser desconsiderado de Geral[2], Departamentos[3] e Destaque[15]

    $categ_ids = array();
    foreach ($ids as $id) {
        if (!in_array($id, $array_ignore)) {
            $categ_ids[] = $id;
        }
    }
    $possivel = end($categ_ids);
    $categoria = Mage::getModel('catalog/category')->load($possivel);
}
//flag usada para testar se é um produto de Listas Prontas ou não
$flag_LP = ($_product->getTypeId() == 'grouped');//listas prontas são somente produtos agrupados
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <div class="product-shop">
                <div class="product-name tituloPagina">
                    <h2><?php echo ($flag_LP) ? $_product->getName() : $categoria->getName(); ?></h2>
                </div>

                <?php #echo $this->getReviewsSummaryHtml($_product, false, true) ?>
                <?php echo $this->getChildHtml('alert_urls') ?>
                <?php if(!$flag_LP):?>
                <div class="album">
                    <?php echo $this->getChildHtml('media');  ?>
                </div>
                
                <div class="detalhamentoProduto">
                    <p class="nomeProduto"><?php echo $_product->getName() ?></p>
                    <p class="codigoProduto">Código <?php echo $_product->getSku() ?></p>

                    <p class="precoProduto">
                        <?php echo $this->getTierPriceHtml() ?>
                        <?php echo $this->getChildHtml('product_type_data') ?>
                    </p>

                    <div class="detalhamentoComprar">
                        <?php if (!$this->hasOptions()): ?>
                            <div class="comprar">
                                <?php if ($_product->isSaleable()): ?>
                                    <?php echo $this->getChildHtml('addtocart') ?>
                                <?php else: ?>
                                <img src="<?php echo $this->getSkinUrl('images/destaques/img_produto-indisponivel.png');?>" alt="esgotado" />
                                <?php endif; ?>
                            </div><!--FIM comprar-->
                        <?php endif; ?>
                    </div>
                    <a href="<?php echo $this->getUrl('checkout') ?>">
                        <img class="finalizarCompra" alt="Finalizar Compra" src="<?php echo $this->getSkinUrl('images/destaques/bt_finalizar-compra.png'); ?>"/>
                    </a>
                    <div class="descricaoProduto">
                        <?php #echo $this->getChildHtml('info_tabs') ?>
                        <?php echo $_product->getDescription();?>
                    </div>
                </div>
                <?php else: ?>
                <?php echo $this->getChildHtml('product_type_data') ?>
                <?php endif;?>
                <?php echo $this->getChildHtml('other'); ?>
                <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif; ?>

            </div>
            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif; ?>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
            //]]>
        </script>
    </div>
</div>
