<?php
/**
 * Magento
 *
 * alterado LSC
 */
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>
<?php if ($this->getIsNeedToDisplaySideBar()): ?>
    <div class="block block-cart carrinho">
    <?php $_cartQty = $this->getSummaryCount() ?>
        <h3>Carrinho</h3>
        <a href="<?php echo $this->getUrl('checkout/cart'); ?>">
            <img src="<?php echo $this->getSkinUrl('images/template/bt_carrinho.png'); ?>" alt="" />
        </a>
        <br/>
        <div class="valoresCarrinho block-content">
    <?php if ($_cartQty > 0): ?>
                <p><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></p>
                <p class="itemCarrinho">
        <?php if ($_cartQty == 1): ?>
                        <?php echo $this->__('<a href="%s">1 item</a>', $this->getUrl('checkout/cart')) ?>
                    <?php else: ?>
                        <?php echo $this->__('<a href="%s">%s items</a>', $this->getUrl('checkout/cart'), $_cartQty) ?>
                    <?php endif ?>
                </p>
                <?php else: ?>
                <p>Vazio</p>
            <?php endif; ?>
        </div>
    </div><!--FIM carrinho-->
<?php endif; ?>
