<?php
/**
 * Magento
 *
 * laterado LSC
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
<!-- <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic&v2' rel='stylesheet' type='text/css'/> -->
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
    <div class="fundoBranco">
        <?php echo $this->getChildHtml('global_notices') ?>
        <div class="container">
            <?php echo $this->getChildHtml('header') ?>
            <div class="sidebar1">
                <?php echo $this->getChildHtml('listaDeptoLateral') ?>
                <?php echo $this->getChildHtml('lateralLP') ?>
            </div>
            <div class="content">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div><!-- FIM .content -->
            <br class="clearfloat" />
        </div><!-- FIM .container -->
    </div><!--FIM fundo branco-->
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
