.content .area-conteudo-interno{
    margin: 20px 0 0;
}
.valoresCarrinho p a{
    color: #666666;
}
.valoresCarrinho p.itemCarrinho a{
    color: #F1592A;
}
.menu ul li{
    padding: 0 2px
}
.pesquisaCompraFacil {
    background: url("../images/template/bg_compra-facil.png") no-repeat scroll left top transparent;
    display: none;
    height: 77px;
    left: 0px;
    position: absolute;
    top: 34px;
    width: 677px;
    z-index: 1;
    visibility: visible;
}
.itemDepartamentos li{
    position: relative;
}
.itemDepartamentos li a:hover,
.itemDepartamentos li.ativo a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
}
.itemDepartamentos li.ativo a {
    background-color: #F1592A;
    color: #FFFFFF;
    font-weight: 700;
}
.itemDepartamentos li.ativo .subitens a{
    font-weight: normal;
}
.areaPesquisas{
    float: left;
    height: 130px;
    width: 467px;
}
.botaoDepartamentos img,
.pesquisaCompraFacil .btFecharCompraFacil{
    cursor: pointer;
}
.subItemDepartamentos {
    background-color: #F1592A;
    color: #FFFFFF;
    left: 200px;
    margin: 0;
    position: absolute;
    top: 0px;
    width: 170px;
    z-index: 3;
}
.subItemDepartamentos{
    display: none;
}
.subItemDepartamentos.ativo{
    display: block;
}
#ibanners-topo_home,
.banner{
    overflow: hidden;
    position: relative;
}
.paginacaoBanner{
    float: none;
    bottom: 0;
    padding: 5px 12px 0 0;
    position: absolute;
    right: 0;
    z-index: 10;
}
#ibanners-topo_home{
    height: 210px
}
.banner .paginacaoBanner a{
    background: url("../images/template/bt_banner-inativo.png") no-repeat scroll 50% 50% transparent;
    color: #FFFFFF;
    padding: 2px 8px;
    text-align: center;
}
.banner .paginacaoBanner a.activeSlide{
    background: url("../images/template/bt_banner-ativo.png") no-repeat scroll 50% 50% transparent;
}
.destaques{
    width: 680px;
}
.listaDestaques li{
    width: 180px;
}
.listaDestaques h3 a,
.listaComprar h3 a{
    color: #666666;
}
.comprar .btComprar{
    cursor: pointer;
}
.album{
    width: 270px;
}
.album .product-image{
    line-height: 0.8em;
    padding: 10px;
    width: 250px;
}
.album .product-image{
    background: url(../images/template/bg_banner.png) repeat 0 0 #fff;
}
.detalhamentoProduto{
    width: 430px;
}
.album .more-views a img{
    -moz-box-shadow: 0 0 3px #D3AA5F;
    -webkit-box-shadow: 0 0 3px #D3AA5F;
    box-shadow: 0 0 3px #D3AA5F;
    *border: 1px solid paleGoldenRod;
    margin: 10px 4px;
}
.departamentos{
    z-index: 10;
}
.paginacao li a{
    color: #D6D7D8;
}
.validation-advice{
    color: #F1592A;
    font-size: 12px;
    margin: -15px 0 10px;
    text-align: right;
    width: 400px;
}
#form-validate .validation-advice,
#billing-new-address-form .validation-advice,
.form-forgotPass .validation-advice,
#login-form .validation-advice,
.account-create .validation-advice{
    margin: -10px 0 0;
    text-align: right;
    width: 260px;
}
.listaDestaques h3,
.lista h3{
    height: 40px;
    overflow: hidden;
    width: 178px;
}
.precoDestaques{
    height: 40px;
}
.precoDestaques .regular-price{
    padding-top: 10px;
}
.listaComprar{
    padding: 0 0 0 5px;
}
.btn-update, .botaoGeral{
    background: url("../images/check-out/bt_padrao.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #F1592A;
    cursor: pointer;
    font-family: 'Cantarell',sans-serif,Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 0;
    vertical-align: top;
    width: 135px;
    letter-spacing: -1px;
}
.a-left{
    text-align: left;
}
.a-right{
    text-align: right;
}
.a-center{
    text-align: center;
}
#shopping-cart-table .preco{
    text-align: center;
}
.linha-grand-total .preco{
    color: #F1592A;
}
.fieldset .legend{
    color: #7EB43A;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 20px;
    margin: 10px 0 5px;
    width: 660px;
}
.fields .field{
    margin-left: 20px;
    width: 360px;
}
.buttons-set .required{
    font-size: 10px;
}
.status{
    position: relative;
}
.menuTopoLogado{
    height: 20px;
}
.menuTopoLogado .links{
    left: 33px;
    position: absolute;
    top: 20px;
    width: 600px;
    z-index: 1;
}
.menuTopoLogado li a{
    color: #666666;
    font-weight: bold;
}
.icoUsuario{
    margin-right: 5px;
}
.menuListasProntas .current{
    border: 1px solid #F1592A;
    color: #F1592A;
    height: 20px;
    margin-bottom: 6px;
}

#checkoutSteps h3{
    color: #999999;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
}
#checkoutSteps .section{
    background-image: url("../images/check-out/bg_inativo.png");
    font-size: 14px;
    margin: 20px 0 10px;
    padding: 10px 10px 15px;
}
#checkoutSteps .active.section{
    background-image: url("../images/check-out/bg_ativo.png");
    font-size: 14px;
    margin: 20px 0 10px;
    padding: 10px 10px 15px;
}
#checkoutSteps .active h3 {
    color: #4B7F20;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
}
.shopBuy .btn-remove img{
    vertical-align: middle;
}
.fundoBranco{
    padding-bottom: 25px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.form-forgotPass .botaoGeral{
    margin: 5px 0 0 120px;
}
.my-account .inputComprar,
.form-forgotPass .inputComprar{
    margin-bottom: 15px;
    width: 250px;
}
.messages .error-msg span{
    color: #7EB43A;
}
.area-login-checkout .form-list li{
    float: left;
    margin: 0 20px 0 0;
    width: 260px;
}
.area-login-checkout .form-list .botaoGeral{
    margin-left: 116px;
}
.area-login-checkout .botoesContinuar{
    clear: both;
    display: block;
}
#checkoutSteps .step-title h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
#checkoutSteps .formulariosCadastro .validation-advice{
    margin-top: -5px;
}
.passoAtivo select{
    min-width: 252px;
    width: auto;
}
.formulariosCadastro .inputComprar, .formulariosCadastro .checkboxCadastro{
    margin-bottom: 10px;
}
#billing-new-address-form .inputComprar{
    margin-bottom: 10px;
}
.customer-dob #day,.customer-dob #month{
    width: 20px;
}
.customer-dob #year{
    width: 35px;
}
.customer-dob .dob-day .validation-advice,
.customer-dob .dob-month .validation-advice,
.customer-dob .dob-year .validation-advice{
    display: none;
}
.itemDepartamentos li a{
    padding: 0 20px 0 5px;
    margin: 5px;
}
.menu ul li a,
.menuRodape ul li a{
    color: #395123;
}
.listaDestaques .product-name,
.listaComprar .product-name,
.shopBuy,
.creditos,
.header .status,
.area-conteudo-interno p,
.codigoProduto,
.descricaoProduto,
.menuRodape,
.header .menu ul li,
.caminhoPagina{
    font-family: "Trebuchet MS",Arial,sans-serif;
    letter-spacing: 0;
}
.fieldset h3,
.box-title h3,
.box-head h3{
    color: #628F3D;
    font-size: 18px;
}
.paginacao li.current{
    background-image: url("../images/paginacao/bg_pag-ativa.png");
}
img.qty-incremento{
    vertical-align: -7px !important;
}
.quantProduto{
    line-height: 28px;
}
#register-pergunta-cep{
    position: relative;
}
.area-conteudo-interno p{
    margin: 2px 0;
}





.msie .pesquisa H3{
    width:100px;
}

.msie .botaoBuscar{
    margin:-57px 0 0 0;
    float:right;
}

.msie .selectDepartamentos{
    margin: 0px 0 5px 137px;
    float:left;
}

.msie .inputCompraFacil .texto1{
    margin: 0 0 0 -10px;
}
.msie7 .botaoBuscar{
    margin:-20px 0 0 0;
    float:right;
}



/*########        ESTILOS II          #########*/

/*
####################################################
				Carrinho vazio
####################################################
*/

.content .area-conteudo-interno {
    margin: 20px 0 0;
}

.content .area-conteudo-interno .img_attention {
    margin:30px 0 5px 335px;
}
.content .note-msg.textoVermelho,
.content .area-conteudo-interno .textoVermelho {
    color:#F1592A;
    margin:0 0 5px 0;
    font-size:18px;
    line-height:18px;
    text-align: center;
}

.content .area-conteudo-interno .textoCinza {
    font-size: 14px;
    line-height:14px;
    text-align: center;
}


/*
####################################################
				Minha conta
####################################################
*/

.content .area-conteudo-interno .box-title h3{
    color: #7EB43A;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 20px;
    margin: 10px 0 5px;
    width: 660px;
}


.content .area-conteudo-interno .box{
    margin:0 0 30px 0;
    padding:0 0 30px 0;
    border-bottom:#CCC 1px solid;	
}

.content .area-conteudo-interno .linkFuncao, .content .my-account .linkFuncao{
    color:#F1592A;
}

.content .area-conteudo-interno .box-content h4{
    font-weight: 600;
    margin:20px 0 0px 0;
}



/*
####################################################
				Meus endereços
####################################################
*/

.content .my-account .botaoGeral{
    float:right;
}

.content .my-account h3{
    color: #7EB43A;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 20px;
    margin: 30px 0  5px 0;
    width: 660px;
}

.content .my-account .addresses-primary, .content .my-account .addresses-additional{
    margin:20px 0 30px 0;
    padding:0px 0 30px 0;
    border-bottom:#CCC 1px solid;
}

.content .my-account h3{
    color: #7EB43A;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 20px;
    margin: 10px 0  5px 0;
    width: 660px;
}

.content .my-account ol li{
    list-style:none;
}

.content .my-account ol li h4{
    font-weight: 600;
    margin:20px 0 0px 0;
}





/*
####################################################
				Abas compra fácil
####################################################
*/



.abasCompraFacil{
    text-align:center;
    font-size:16px;
    letter-spacing:-1px;
    font-weight:700;
    margin:20px 0 100px 0;

}

.abasCompraFacil li{
    float:left;
    border: 1px solid #FFFFFF;
    border-bottom:none;
    border-radius: 10px 10px 0 0;
    box-shadow: -1px 0 2px #999999;
    background:#999;
    margin:4px 0px 0 10px;
    padding:0 8px 2px 8px;

}

.abasCompraFacil .ativo{
    background:#F60;
    margin:-2px 0px 0px 10px;
    padding:0 8px 8px 8px;
}

.abasCompraFacil li:hover{
    background:#F60;
    margin:-2px 0px 0px 10px;
    padding:0 8px 8px 8px;
}

.abasCompraFacil li a{
    display:block;
    text-decoration:none;
    color:#FFF;
}
.filtro{
    float:right;
    width:720px;
    text-align:right;
    font-size:13px;
    margin:0 0 50px 0;
}
/* ############## 
Lista de Categorias 
##############
*/
.content .listaCateg img{
    max-width:120px;
}

.content .listaCateg h3{
    font-size:16px;
    line-height:16px;
    /*height:50px;*/
}

.content .listaCateg a{
    color:#666;
    display:block;
}

.content .listaCateg a:hover{
    color:#6F994D;
}

.content .listaCateg li{
    width:140px;
    float:left;
    margin:20px 15px 20px 15px;
    text-align:center;
    border:#fff 1px solid;
    height: 160px;
}

.content .listaCateg li:hover{
    border:#F1592A 1px solid;
}
#checkout-shipping-method-load .sp-methods{
    font-weight: bold;
}
#checkout-shipping-method-load .sp-methods dt,
#checkout-payment-method-load dt{
    color: #F1592A;
}
#checkout-payment-method-load dt .info{
    padding-left: 10px;
}
#checkout-payment-method-load dt label{
    font-weight: bold;
}
#checkout-shipping-method-load .sp-methods dt .info{
    color: #666666;
    display: block;
    font-weight: normal;
    padding-left: 10px;
}
#checkout-payment-method-load dd,
#checkout-shipping-method-load .sp-methods dd{
    padding-left: 15px;
}
table .nobr{
    white-space: nowrap;
}
/*
###############
box enderecos
###############
*/
.col2-set .HR{
    float: left;
    height: 15px;
    width: 720px;
}


.col2-set.box-ifo-dashboard .col-1,
.col2-set.box-ifo-dashboard .col-2,
.col2-set .box-content .col-1,
.col2-set .box-content .col-2,
.col2-set .col-1 .item,
.col2-set .col-2 .item{
    float: left;
    padding-right: 10px;
    width: 350px;
}
.col2-set.box-ifo-dashboard .box-content{
    height: 100px;
}
.addresses-list .addresses-primary{
    height: 220px;
}
#payment_form_visanet_standard label img{
    float: none;
    margin-right: 10px;
}
#checkoutSteps .footerTabelae h3{
    font-size: 14px;
}
