@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: bold;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('../webfonts/Cantarell_bold.woff') format('woff');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('../webfonts/Cantarell_regular.woff') format('woff');
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: normal;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('../webfonts/Cantarell_oblique.woff') format('woff');
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: bold;
  src: local('Cantarell Bold Oblique'), local('Cantarell-BoldOblique'), url('../webfonts/Cantarell_oblique_bold.woff') format('woff');
}



/*
####################################################
					GERAL
####################################################
*/
*{
	
margin:0;
padding:0;

}
body  {
	font-family: 'Cantarell', sans-serif, Arial;
	background:url(../images/template/bg.png);
	margin: 0; 
	padding: 0;
	text-align: center;
	font-size:12px; 
	color:#666
}


.fundoBranco{
background: url(../images/template/bg2.png) repeat-y center;
}


.container {
	width: 990px;
	margin: 0 auto;
	text-align:left; 
}


.right {
	float: right;
	margin-left: 8px;
}
.left {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.v-middle{
    vertical-align: middle;
}
ul{
list-style:none;	
}


h2{
	font-size:27px;
	font-weight:bold;
	letter-spacing:-3px;
	color: #f1592a;
}


h3{
	
}

a:link{
	color:#6f994d;
	text-decoration:none;
}
	
a:visited{
	color:#6f994d;
	text-decoration:none;
}
a:hover{
	color:#6f994d;
	text-decoration:underline;
}
a:active{
	color:#6f994d;
	text-decoration:none;
}


/*
####################################################
					CABEÇALHO
####################################################
*/

.header{
padding:20px 0 0 0;
}

.status{
	float:left;
	margin: 45px 0 0 5px;
	line-height: 14px;
	width: 240px;
	font-size:14px;
}


.icoUsuario{
	float:left;
}


.menu{
	float:right;
	font-size:14px;
	font-weight:300;
	color: #628f3d;
	width: 445px;
}


.menu ul li{
	float:left;
}


.televendas{
	float:right;
	font-weight:bold;
	font-size:12px;
	letter-spacing:-1px;
	color:#f1592a;
}


.numeroTelevendas{
	color:#628f3d;
}


.barra{
	background-image: url("../images/template/bg_barra-busca.png");
    background-repeat: no-repeat;
    height: 131px;
    position: relative;
	
}


.botaoDepartamentos{
	float:left;
	padding:63px 0 0 10px;

}


.pesquisa h3{
	color:#cfe893;
	font-weight:600;
	letter-spacing:-1px;
	font-size:14px;
}

.pesquisa{
	float:left;
	padding:40px 0 0 76px;
}


.formsPesquisa{
	float:left;
	margin: -13px 0 0;
}

.selectDepartamentos{
	float:right;
	width:185px;
	height:22px;
	color: #cfe893;
	background-color:#174b09;
	border: thin solid #CFE893;
	margin: 0 0 5px;
	
}

.inputPesquisa{
	float:left;
	width:320px;
	height:22px;
	border: thin solid #CFE893;
}

.botaoBuscar{
	float:right;
	margin: -21px 0 0;
}


.botaoCompraFacil h3{
	visibility:hidden;
}

.botaoCompraFacil{
	float:left;
	padding: 10px 0 0 30px;
}


.pesquisaCompraFacil{
	background: url("../images/template/bg_compra-facil.png") no-repeat scroll left top transparent;
    position: absolute;
    top: 34px;
    width: 677px;
	height: 76px;
    z-index: 1;
	visibility:hidden;
}


.pesquisaCompraFacil h3{
	visibility:hidden;
}

.btFecharCompraFacil{
	float:left;
	margin: 5px 0 0 180px;
}

.inputCompraFacil{
	float:left;
	margin: -10px 0 0 25px;
}

.inputCompraFacil .texto1{
	text-transform:uppercase;
	font-size:11px;
	font-weight:600;
	letter-spacing:-1px;
}

.inputCompraFacil input{
	width:320px;
	height:25px;
	border:#F60 thin solid;
	margin:2px 0 0 25px;
}

.inputCompraFacil .texto2{
	font-size:11px;
	color:#000;
	margin: 0 0 0 180px;
	width:166px;
}


.btBuscarCompraFacil{
	float:left;
	margin: 5px 0 0;
}


.carrinho h3{
	visibility:hidden;
}


.carrinho{
	float: right;
    margin: -16px 24px 0 0;
	width:90px;
}

.valoresCarrinho{
	text-align:right;
	float:right;
	padding: 14px 0 0px 0;
	line-height: 14px;
}

.itemCarrinho{
	color: #f1592a;
}


/*
####################################################
					LATERAL
####################################################
*/


.sidebar1 {
	float: left;
	width: 220px;
}

.departamentos{
	background-image: url("../images/template/bg_menu-departamentos.png");
    background-repeat: repeat-y;
    border: 1px solid #84B742;
	border-top:none;
    border-radius: 0 0 5px 5px;
    padding:5px 0 0 0;
	margin: -26px 0 0 6px;
    position: relative;
    width: 204px;
    z-index: 2;
	/*display:none;*/
}


.itemDepartamentos li{
	line-height:30px;
	background-image:url(../images/template/bg_linha-menu-departamentos.png);
	background-repeat:no-repeat;
	background-position:top left;	
}

.itemDepartamentos li a{
	border-radius: 5px 0 0 5px;
    color: #666666;
    display: block;
    font-size: 14px;
    margin: 5px 0 5px 5px;
    padding: 0 0 0 5px;
    text-decoration: none;
}


.itemDepartamentos li a:hover{
	background-color:#f1592a;
	color:#FFF;
	font-weight:700;
}


.subItemDepartamentos{
	margin:-35px 0 0 204px;
	position:absolute;
	z-index:3;
	border-radius:0 5px 5px 5px;
	background-color:#f1592a;
	color:#FFF;
	width:170px;
}


.subItemDepartamentos li{
	line-height:20px;
	background-image:none;
	padding-left:5px;
	margin: 0 5px;
	border-bottom:#fc815b thin solid;
}

.subItemDepartamentos li a{
	font-weight:200;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
}

.subItemDepartamentos li a:hover{
	font-weight:200;
	color:#FFF;
	font-size:12px;
	text-decoration:underline;
	background-repeat:no-repeat;
	background-position:top left;
}


.shopBuy {
	width:191px;
	margin:5px 15px 0 15px;
	z-index:3;
	position:relative;
}

.shopBuy h3{
	text-transform:uppercase;
	font-size:13px;
	color:#7eb43a;
	margin-left:10px;
	margin-bottom:10px;	
}

.shopBuy h4{
	font-size:12px;
	font-weight:700;
	color:#f1592a;
	margin-left:10px;
}


.shopBuy ul{
	border:#d6e7c3 thin solid;
	padding:0px 10px 5px 10px;
	margin:0 0 10px 0;
}

.shopBuy li a{
	color:#666;
	text-decoration:none;
}

.shopBuy li a:hover{
	color:#666;
	text-decoration:underline;
}




.menuListasProntas {
	width:191px;
	margin:50px 15px 50px 15px;
	z-index:3;
	position:relative;
}

.menuListasProntas h3{
	text-transform:uppercase;
	font-size:20px;
	font-weight:700;
	color:#7eb43a;
	margin-bottom:0px;
	text-align:center;	
}

.menuListasProntas h4{
	text-transform:uppercase;
	font-size:12px;
	color:#7eb43a;
	margin-bottom:10px;
	text-align:center;
	line-height:12px;	
}

.menuListasProntas li{
	height:25px;
	margin:3px 0;
	font-size:14px;
	font-weight:700;
	text-align:center;
}

.menuListasProntas li a{
	display:block;
	background-color:#f1592a;
	color:#FFF;
	text-decoration:none;
}

.menuListasProntas li a:hover{
	display:block;
	background-color:#FFF;
	border:#f1592a thin solid;
	color:#f1592a;
	text-decoration:none;
}




.news h3{
	visibility:hidden;
}

.news{
	background-image:url(../images/template/bg_news.png);
	background-repeat:no-repeat;
	background-position:center;
	width:219px;
	height:132px;
	margin:20px 0 20px 0;
	text-align:center;
	line-height:12px;
	color:#25390f;
	font-weight:400;
}


.news p{
	margin:0 10px 0 0;
	text-align:right;
}


.inputNews{
	width:196px;
	height:23px;
	border-color:transparent;
}


.newsBotoes{
	text-align:right;
	margin: 0px 10px 0px 0px;
}


.publicidade img{
	margin:0px 0 20px 0;
	border:ridge;
	border-color:#CCC;
	
	
	
}

/*
####################################################
				CONTEUDO HOME
####################################################
*/


.content {
	width: 725px;
	margin:0 0 0 265px;

}


.banner{
	background-image: url("../images/template/bg_banner.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 230px;
    padding: 14px 0 12px 12px;
}


.paginacaoBanner{
	float:right;
	padding:5px 12px 0px 0px;
}

.destaques{
	float:left;
}

.tituloPagina{
	background-image: url(../images/template/bg_titulo-de-pagina.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	padding:20px 0px 0px 0px;
}


.tituloPagina h2{
	padding:5px 0px 0px 36px;
}


.listaDestaques li{
	float:left;
	margin: 30px 20px;
	
}


.imgProdutoDestaques{
	text-align:center;
}


.listaDestaques h3{
	font-size:16px;
	line-height:20px;
}


.precoDestaques{
	font-size:22px;
	font-weight:600;
	letter-spacing:-2px;
	color: #7eb43a;
	line-height:20px;
}

.precoDestaques span{
	font-size:14px;
	font-weight:300;
	letter-spacing:-1px;
	color: #666;
	line-height:14px;
	vertical-align:top;
	
}

.precinhoAntigo{
	font-size:12px;
	font-weight:300;
	letter-spacing:-1px;
	color: #F1592A;
	line-height:20px;
}


.comprar{
	line-height:20px;
	background-image:url(../images/destaques/bg_comprar.png);
	background-position:left;
	width:181px;
	height:47px;
}


.inputComprar{
	width:20px;
	height:22px;
	border:solid thin #7eb43a;
}


.quantProduto{
	letter-spacing:-1px;
	float:left;
	padding:11px 0px 0px 6px;
	color:#f1592a;
}


.btComprar{
	float:right;
}


.paginacao{
	float:right;
}

.paginacao li{
	background-image:url(../images/paginacao/bg_pag-inativa.png);
	float:left;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	width:25px;
	height:23px;
	line-height:26px;
}



/*
####################################################
			CONTEUDO DETALHAMENTO
####################################################
*/

.caminhoPagina{
	font-variant:small-caps;
}

.ondeVoceEsta{
	color:#4b7f20;
	font-variant:normal;
}

.detalhamentoProduto{
	padding:20px 0px 0px 5px;
	float:right;
	
}

.album{
	float:left;
	padding:20px 5px 0px 0px;
}


.nomeProduto{
	font-size:22px;
	font-weight:600;
	letter-spacing:-2px;
	padding:0px 20px 0px 0px;
	text-align:left;
	line-height:20px;
}

.codigoProduto{
	padding:0px 0px 0px 0px;
	font-size:12px;
	color:#f1592a;
	font-weight:100;
	letter-spacing:-1px;
}

.precoProduto{
	padding:0px 0px 0px 80px;
	font-size:42px;
	color:#7eb43a;
	font-weight:600;
	letter-spacing:-5px;
	
}


.descricaoProduto{
	padding:30px 0px 0px 85px;
}


.detalhamentoComprar{
	margin:5px 0px 0px 85px;
	
}


.finalizarCompra{
	padding:0px 0px 0px 85px;
}







/*
####################################################
				CONTEUDO LISTA
####################################################
*/


.imgProdutoLista{
	float:left;
}


.listaComprar{
	float:right;
	padding:20px 0px 0px 3px
}


.lista li{
	float:left;
	margin: 30px 20px;
}

.lista h3{
	font-size:16px;
	line-height:20px;
}


.filtro{
	text-align:right;
	font-size:13px;
}

.selectFiltro{
	width:70px;
	height:20px;
	font-size:12px;
}

/*
####################################################
				CONTEUDO CHECK OUT
####################################################
*/

.botaoContinuar{
}


/********** Passo Ativo ***********/


.passoAtivo{
	margin:20px 0 10px 0;
	padding:10px 10px 15px 10px;
	background-image:url(../images/check-out/bg_ativo.png);
	border-radius:5px;
	font-size:14px;	
}

.passoAtivo h3{
	color:#4b7f20;
	font-size:18px;
	font-weight:600;
	letter-spacing:-1px;
}

.passoAtivo h3 span{
	font-size:20px;
	padding:0 5px 0 0;
	font-weight:900;
}

.passoAtivo .botaoContinuar{
	background:url(../images/check-out/bt_continuar-ativo.png) top no-repeat;
}

.passoAtivo select{
	width:300px;
	background-color:#FFF;
	border: thin solid #7EB43A;
	color:#000;
	margin:5px 0;
	
}

.passoAtivo .subTitulo{
	color:#f1592a;
	font-weight:600;
}

.passoAtivo table{
	width:100%;
	padding:10px;
}

.passoAtivo .corpoTabela td{
	border-left:#4b7f20 1px solid;
	border-top:#4b7f20 1px solid;
	padding:3px;
	background:#FFF;
}

.passoAtivo table .topoTabela{
	text-transform:uppercase;
	letter-spacing:-1px;
	color:#f1592a;
}


.passoAtivo table .alinhamentoDireita{
	text-align:right;
}


.passoAtivo .subtotal, .passoAtivo .frete, .passoAtivo .total{
	padding:5px 10px;
	margin:10px 0 0 0;
	text-align:right;
}

.passoAtivo .subtotal span, .passoAtivo .frete span{
	margin:0 0 0 10px;
	padding:3px;
	background:#f1592a;
	color:#FFF;
}

.passoAtivo .total span{
	margin:0 0 0 10px;
	font-size:20px;
	font-weight:700;
	color:#4b7f20;
}



/********** Passo Inativo ***********/


.passoInativo{
	margin:20px 0 10px 0;
	padding:10px 10px 15px 10px;
	background-image:url(../images/check-out/bg_inativo.png);
	border-radius:5px;
	font-size:14px;	
}

.passoInativo h3{
	color:#999;
	font-size:18px;
	font-weight:600;
	letter-spacing:-1px;
}

.passoInativo h3 span{
	font-size:20px;
	padding:0 5px 0 0;
	font-weight:900;
}

.passoInativo .botaoContinuar{
	background:url(../images/check-out/bt_continuar-inativo.png) top no-repeat;
}

.passoInativo select{
	width:300px;
	background-color:#FFF;
	border: thin solid #999;
	color:#CCC;
	margin:5px 0;
	
}

.passoInativo .subTitulo{
	color:#999;
	font-weight:600;
}

.passoInativo table{
	width:100%;
	padding:10px;
}

.passoInativo .corpoTabela td{
	border-left:#999 1px solid;
	border-top:#999 1px solid;
	padding:3px;
	background:#FFF;
}

.passoInativo table .topoTabela{
	text-transform:uppercase;
	letter-spacing:-1px;
	color:#999;
}


.passoInativo table .alinhamentoDireita{
	text-align:right;
}


.passoInativo .subtotal, .passoInativo .frete, .passoInativo .total{
	padding:5px 10px;
	margin:10px 0 0 0;
	text-align:right;
}

.passoInativo .subtotal span, .passoInativo .frete span{
	margin:0 0 0 10px;
	padding:3px;
	background:#CCC;
	color:#FFF;
}

.passoInativo .total span{
	margin:0 0 0 10px;
	font-size:20px;
	font-weight:700;
	color:#999;
}


/*
####################################################
				CONTEUDO CADASTRE-SE
####################################################
*/

.formulariosCadastro div{
	font-size:14px;
}


.formulariosCadastro .inputComprar, .formulariosCadastro .checkboxCadastro{
	width:250px;
}

.btContinuarCadastro{
	width:135px;
}

/*
####################################################
				CONTEUDO LOGIN
####################################################
*/

.boxLogin, .boxCadastre{
	float:left;
	width:320px;
	margin:30px 0 0 20px;
}

.boxLogin .inputComprar{
	width:250px;
	margin-bottom:15px;
}

.boxLogin p{
	font-size:14px;
}


.boxLogin .btContinuarLogin{
	margin:5px 0 0 120px;
}


.boxCadastre h3{
	font-size:16px;
	text-transform:uppercase;
	color:#7eb43a;
	text-align:right;
	margin-bottom:10px;
}

.boxCadastre p{
	text-align:right;
}

.boxCadastre img{
	margin:20px 0 0 190px;
}


/*
####################################################
				CONTEUDO CONTATO
####################################################
*/

.contato{
	margin-top:30px;
	font-size:14px;
}

.contato .inputComprar{
	width:400px;
	margin-bottom:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}


.contato textarea{
	height:100px;
	padding-top:5px;
	margin-bottom:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

.btEnviarContato{
	margin:0 0 0 270px;
}



/*
####################################################
				CONTEUDO - Carrinho
####################################################
*/

.tabelaCarrinho{
	margin-top:30px;
}

.tabelaCarrinho tr td{
	padding:10px;
}

.tabelaCarrinho .footerTabela td{
	color:#F1592A;
	text-align:center;
	font-size:12px;
	line-height:10px;
	border-bottom:#F1592A thin solid;
}

.tabelaCarrinho .bodyTabela td{
	text-align:center;
	border-bottom:#D6E7C3 thin solid;
}

.tabelaCarrinho h3{
	font-size:14px;
	line-height:18px;
}

.tabelaCarrinho .btFechar{
	width:25px;
}

.tabelaCarrinho .imgProduto{
	width:120px;
}

.tabelaCarrinho .tituloProduto{
	width:250px;
}

.tabelaCarrinho .preco{
	font-size:14px;
	font-weight:600;
	letter-spacing:-1px;
	color: #7eb43a;
	line-height:20px;
}

.tabelaCarrinho .quantProduto{
	letter-spacing:-1px;
	float:left;
	padding:0px 0px 0px 0px;
	color:#f1592a;
}


.tabelaCarrinho .btFinalizarCompra{
	text-align:right;
}


.tabelaCarrinho .btContinuarComprando{
	text-transform:uppercase;
	text-align:left;
	font-size:14px;
	font-weight:500;
	letter-spacing:-1px;
	line-height:12px;	
}

.tabelaCarrinho .btContinuarComprando span{

}


/*
####################################################
					RODAPE
####################################################
*/


.backgroundFooter{
	background-image:url(../images/template/bg_rodape.png);
	background-repeat:repeat-x;
	background-position:top center;
}


.footer {
	width:990px;
	clear: both;
	margin: 0 auto;
}


.menuRodape{
	float:left;
	font-size:14px;
	font-weight:300;
	color: #0d4006;
	margin: 6px 0 0;
}


.menuRodape ul li{
	float:left;
}


.redes{
	float:right;
}

.redes ul li{
	float:left;
	
}

.bandeirasCartoes{
	float:left;
	margin: 10px 0 0 2px;
}

.creditos{
	float:right;
	margin: 10px -105px 0 0;
	text-align:right;
	
}
.opc-block-progress .block-title{
	color: #7EB43A;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
.opc-block-progress li{
    border: 1px solid #F1592A;
    margin: 5px 0;
    padding: 5px;
}
.opc-block-progress .prog-title{
    font-weight: bold;
}
.please-wait img{
    margin-top: 10px;
}