<?php
/**
 * Magento
 *
 * alterado por LSC - JN2
 * @category    design
 * @package     default_modern
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
# busca: http://loja.localhost/catalogsearch/result/?cat=5&q=bolsa
$modelo = Mage::getModel('catalog/category');

#buscando a  categoria Departamentos id=3
$category = $modelo->load(3);

#buscando os filhos 
$departamentos = explode(',',$category->getChildren());
$h_pesquisa = $this->helper('catalogsearch');
$query_name = $h_pesquisa->getQueryParamName();
?>

<div class="pesquisa area-barra-pesquisas">
    <h3>PESQUISA</h3>
    <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
        <div class="formsPesquisa">
            <select class="selectDepartamentos" name="cat">
                <option value="">Todos os departamentos</option>
                <?php foreach($departamentos as $id):
                    $categoria = $modelo->load($id);
                    ?>
                <option value="<?php echo $id;?>"><?php echo $categoria->getName();?></option>
                <?php endforeach;?>
            </select>
            <br/>
            <input id="search" type="text" name="<?php echo $query_name; ?>" value="<?php echo isset($_GET['cf']) ? '' : $h_pesquisa->getEscapedQueryText() ?>" class="inputPesquisa" />
        </div><!--FIM pesquisa-->
        <input type="image" class="button botaoBuscar" src="<?php echo $this->getSkinUrl('images/template/bt_buscar.png'); ?>"/>
     </form>
</div><!--FIM formsPesquisa-->
<div class="pesquisaCompraFacil area-barra-pesquisas">
    <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <input type="hidden" name="cf" value="0" id="flag-compra-facil" />
    <img class="btFecharCompraFacil" src="<?php echo $this->getSkinUrl('images/template/bt_fechar-compra-facil.png');?>" alt="X" onclick="$j('.barra .botaoCompraFacil input').click();" />
    <div class="inputCompraFacil">
        <h3>Compra Fácil</h3>
        <p class="texto1">Digite uma relação de produtos Separados por vírgula</p>
        <input id="searchCF" type="text" name="cf" value="<?php echo isset($_GET['cf']) ? $_GET['cf'] : '' ?>" class="inputPesquisa" />
        <p class="texto2">Exemplo: arroz, feijão, leite, etc.</p>
    </div>
    <input type="image" class="button btBuscarCompraFacil" src="<?php echo $this->getSkinUrl('images/template/bt_buscar-compra-facil.png'); ?>"/>
    </form>
</div><!--FIM pesquisaCompraFacil-->

<?php
//colokei um teste especifico para o compra facil em page/html/barra-pesquisa e catalogsearch/result

/*
<form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <div class="form-search">
        <label for="search"><?php echo $this->__('Search') ?></label>
        <input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>" class="input-text" />
        <button type="submit" title="<?php echo $this->__('Go') ?>" class="button"><span><span><?php echo $this->__('Go') ?></span></span></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <script type="text/javascript">
            //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
            searchForm.initAutocomplete('<?php echo $this->helper('catalogsearch')->getSuggestUrl() ?>', 'search_autocomplete');
            //]]>
        </script>
    </div>
    <br clear="all"/>
</form>
*/?>