<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 */
?>
<div class="page-title tituloPagina">
    <?php if(isset($_GET['cf'])):?>
    <h2>Resultados de sua Compra F&aacute;cil</h2>
    </div>
    <ul id="abas-compra-facil" class="abasCompraFacil">
        <?php
        echo $this->helper('catalogsearch')->abaCompraFacil();
        ?>
    </ul>
    <?php else:?>
    <h2><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Buscando por &nbsp;&nbsp;'%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h2>
    <?php endif;?>
    <div class="respiro-aba-cf"> </div>
<?php if($this->getResultCount()): ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php if ($messages = $this->getNoteMessages()):?>
    <p class="note-msg textoVermelho">
        <?php foreach ($messages as $message):?>
            <?php echo $message?><br />
        <?php endforeach;?>
    </p>
    <?php endif; ?>
    <?php echo $this->getProductListHtml() ?>
<?php else: ?>
<p class="note-msg area-conteudo-interno textoVermelho">
    <?php echo ($this->getNoResultText()) ? $this->getNoResultText() : $this->__('Your search returns no results.') ?>
    <?php if ($messages = $this->getNoteMessages()):?>
        <?php foreach ($messages as $message):?>
        <br /><?php echo $message?>
        <?php endforeach;?>
    <?php endif; ?>
</p>
<?php endif; ?>
<script type="text/javascript">
<?php if(isset($_GET['cf'])):?>
$j('.caminhoPagina .search strong').html("Compra F&aacute;cil: '<?php echo $_GET['cf'];?>'");
<?php endif;?>
</script>