<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
JN2
 *
 * Campos necessários:
customer_tipo (obrigatorio)
customer_pj_cnpj
customer_pj_razao
customer_pj_ie
customer_pf_rg
 */
?>
<?php
/**
 * Create account form template
 *
 * @see Mage_Customer_Block_Form_Register
 */
?>
<div class="account-create formulariosCadastro">
    <div class="page-title tituloPagina">
        <h2><?php echo $this->__('Create an Account') ?></h2>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <div id="register-pergunta-cep" class="perguntando">
        <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate" class=" area-conteudo-interno" style="display: none">
        <div class="fieldset">
            <?php echo Mage::helper('amcustomerattr')->fields(); ?>
            <script type="text/javascript">
                $j('#amcustomerattr .input-text').addClass('inputComprar');
                trocarParaPF();
                $j('#amcustomerattr .radio_customer_tipo input').click(function(){
                    if($j(this).parent().find('.label').html() == 'Jurídica'){
                        trocarParaPJ();
                    }else{
                        trocarParaPF();
                    }
                });
                $j(".required-entry").change(function(){
                    $j('#form-validate .validation-advice').remove();
                });
                $j(".radio_customer_tipo input[type=radio]").change(function(){
                    $j('#form-validate .validation-advice').remove();
                });
            </script>
        </div>
        <div class="fieldset comprador">
            <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
            <h3 class="legend subtituloVerde" id="titulo-info-pessoal">Informações do Comprador</h3>
            <div class="fields">
                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->toHtml() ?>
            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
            <?php if ($_dob->isEnabled()): ?>
                <div class="field"><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></div>
            <?php endif ?>
            <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <div class="field"><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></div>
            <?php endif ?>
            <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
            <?php if ($_gender->isEnabled()): ?>
                <div class="field"><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></div>
            <?php endif ?>
            <?php if ($this->isNewsletterEnabled()): ?>
                <div class="control field">
                    <div class="input-box">
                        <label for="is_subscribed"><input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed() === null || $this->getFormData()->getIsSubscribed() == '1'): ?> checked="checked"<?php endif; ?> class="checkbox" /><?php echo $this->__('Sign Up for Newsletter') ?></label>
                    </div>
                </div>
            <?php endif ?>
            </div>
        </div>
    <?php if($this->getShowAddressFields()): ?>
        <div class="fieldset">
            <input type="hidden" name="create_address" value="1" />
            <h3 class="legend subtituloVerde"><?php echo $this->__('Address Information') ?></h3>
            <div class="form-list">
                <div class="fields">
                    <div class="field">
                        <label for="company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" name="company" id="company" value="<?php echo $this->htmlEscape($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text inputComprar" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box">
                            <input type="text" name="telephone" id="telephone" value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text inputComprar required-entry" />
                        </div>
                    </div>
                </div>
                <div class="wide">
                    <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                    <div class="input-box">
                        <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text inputComprar required-entry" />
                    </div>
                </div>
            <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
                <div class="wide">
                    <div class="input-box">
                        <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text inputComprar" />
                    </div>
                </div>
            <?php endfor ?>
                <div class="fields">
                    <div class="field">
                        <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" name="city" value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text inputComprar required-entry" id="city" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                            <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text inputComprar" style="display:none;" />
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text inputComprar validate-zip-international required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="default_billing" value="1" />
            <input type="hidden" name="default_shipping" value="1" />
        </div>
    <?php endif; ?>
        <div class="fieldset">
            <h3 class="legend subtituloVerde"><?php echo $this->__('Login Information') ?></h3>
            <div class="form-list">
                <div class="fields">
                    <div class="field">
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" id="email_address" value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text inputComprar validate-email required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text inputComprar required-entry validate-password" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text inputComprar required-entry validate-cpassword" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button botaoGeral"><span><span><?php echo $this->__('Submit') ?></span></span></button>
        </div>
    </form>
        <div class="pergunta" >
            <div class="area-pergunta area-conteudo-interno">
                <?php echo Mage::getModel('core/variable')->loadByCode('txt_pergunta_cep')->getValue('html');?>
            </div>
            <input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="cep-ref" class="input-text inputComprar" maxlength="8" />
            <br /><button type="button" class="botaoGeral" onclick="validarCEP()">Confirmar</button>
        </div>
    </div>
    
    <script type="text/javascript">
    //<![CDATA[
        $j('#cep-ref').soNumerico();
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>
        if($j('#amcustomerattr .radio_customer_tipo input[checked=checked]').html() == 'Jurídica'){
            trocarParaPJ();
        }else{
            trocarParaPF();
        }
        //por causa da pergunta do cep
        function validarCEP(){
            var cep = $j('#cep-ref').val();
            var validado = false;
        <?php
        $custom_var = Mage::getModel('core/variable')->loadByCode('faixa_cep');
        $mensagem = explode("*",$custom_var->getValue('html'));
        if(count($mensagem)>= 3){
            $mensagem = $mensagem[1];
        }else{
            $mensagem = 'Seu CEP é inválido. Infelizmente não atendemos sua região ainda.';
        }
        $faixa = explode("\n",$custom_var->getValue('text'));
        foreach($faixa as $cada){
            $cada = explode('-',$cada);
            if(count($cada) < 2 && trim($cada[0]) != ''){
                echo "
            if(cep == {$cada[0]}){
                validado = true;
            }
            ";
            }elseif(count($cada) >= 2){
                echo "
            if(cep >= {$cada[0]} && cep <= {$cada[1]}){
                validado = true;
            }
            ";
            }
        }
        ?>
                
            if(!validado){
                if(cep.length == 8){
                    alert('<?php echo $mensagem?>');
                }else{
                    $j('#cep-ref').focus();
                }
                
            }else{
                $j('#register-pergunta-cep').removeClass('perguntando');
                $j('#register-pergunta-cep .pergunta').hide();
                $j('#register-pergunta-cep form').show();
            }
        }
    //]]>
    </script>
</div>
