<?php
/**
 * Magento - Shop By
 *
 * NOTICE OF LICENSE
 *
 * JN2
 *
 */
?>
<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */
?>
<?php if ($this->canShowBlock()): ?>
<div class="block block-layered-nav shopBuy">
    <div class="block-title">
        <h3>Filtre seu resultado</h3>
    </div>
    <div class="block-content">
    <?php echo $this->getStateHtml() ?>
    <?php if ($this->canShowOptions()): ?>
        <div id="narrow-by-list">
        <?php $_filters = $this->getFilters() ?>
        <?php foreach ($_filters as $_filter): ?>
        <?php if ($_filter->getItemsCount()): ?>
            <div>
                <h4><?php echo $this->__($_filter->getName()) ?></h4>
                <dd><?php echo $_filter->getHtml() ?></dd>
            </div>
        <?php endif; ?>
        <?php endforeach; ?>
        </div>
        <script type="text/javascript">
            decorateDataList('narrow-by-list');
            $j('#listagem-depto').hide();
            $j(document).ready(function(){
                $j('#listagem-depto').hide();
            });
            
        </script>
    <?php endif; ?>
    </div>
</div>
<?php endif; ?>
